In [2]:
from cayman_office_system import *

INFO:shining_pebbles:Shining Pebbles package initialized
INFO:numexpr.utils:Note: NumExpr detected 10 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
INFO:numexpr.utils:NumExpr defaulting to 8 threads.
/Users/juneyoungpark/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
order = Order(date='2024-09-03')
order.sheet

- open: Life Asset trade instruction 20240903.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-03

               ticker   num        ticker_bbg
date
2024-09-03  007340 KS  2500  007340 KS Equity
2024-09-03  282690 KS  3500  282690 KS Equity
2024-09-03  003030 KS   800  003030 KS Equity
2024-09-03  271560 KS  1800  271560 KS Equity

In [2]:
get_df_weight_approx()

- open: Life Asset trade instruction 20240903.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-03
- open: Life Asset trade instruction 20240903.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-03
- open: Life Asset trade instruction 20240905.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-05
- open: Life Asset trade instruction 20240905.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-05
- open: Life Asset trade instruction 20240906.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-06
- open: Life Asset trade instruction 20240906.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-06
- open: Life Asset trade instruction 20240909.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-09
- open: Life Asset trade instruction 20240909.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-09
- open: Life Asset trade instruction 20240903.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-03
- open: Life Asset trade instruction 20240903.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-03
- open: Life Asset trade instruction 20240905.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-05
- open: Life Asset trade instruction 20240905.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-05
- open: Life Asset trade instruction 20240906.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-06
- open: Life Asset trade instruction 20240906.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-06
- open: Life Asset trade instruction 20240909.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-09
- open: Life Asset trade instruction 20240909.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-09

,ticker,name_kr,name,num,price_last,evaluation_krw,evaluation_usd,sector,nav_approx,weight_approx
0,003030 KS,세아제강지주,SEAH STEEL HOLDINGS CORP,2100,174700.0,366870000.0,274808.988764,Materials,1.533429e+07,1.792121
1,007340 KS,DN오토모티브,DN AUTOMOTIVE CORP,8500,94200.0,800700000.0,599775.280899,Consumer Discretionary,1.533429e+07,3.911335
2,271560 KS,오리온,ORION CORP/REPUBLIC OF KOREA,4600,88800.0,408480000.0,305977.528090,Consumer Staples,1.533429e+07,1.995382
3,282690 KS,동아타이어,DONG AH TIRE & RUBBER CO LTD,3500,13500.0,47250000.0,35393.258427,Consumer Discretionary,1.533429e+07,0.230811

In [2]:
bal = Balance(date='2024-09-10')

- open: Life Asset trade instruction 20240903.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-03
- open: Life Asset trade instruction 20240903.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-03
- open: Life Asset trade instruction 20240905.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-05
- open: Life Asset trade instruction 20240905.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-05
- open: Life Asset trade instruction 20240906.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-06
- open: Life Asset trade instruction 20240906.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-06
- open: Life Asset trade instruction 20240909.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-09
- open: Life Asset trade instruction 20240909.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-09

In [4]:
bal.df

,available_balance,acquisition_approx_ordered,evaluation_ordered,acquisition_approx_total,evaluation_total,nav_approx,diff_approx,total_diff_approx,return_nav_approx,cumreturn_nav_approx
date,,,,,,,,,,
2024-09-01,1.533081e+07,0.000000,0.000000,0.000000e+00,0.000000e+00,1.533081e+07,0.000000,0.000000,0.000000,0.000000
2024-09-03,1.489410e+07,436705.417691,433974.215664,4.367054e+05,4.339742e+05,1.532808e+07,-2731.202027,-2731.202027,-0.017815,-0.017815
2024-09-05,1.449651e+07,397594.694841,400959.124799,8.343001e+05,8.349333e+05,1.533144e+07,3364.429958,633.227931,0.021949,0.004130
2024-09-06,1.442879e+07,67715.355805,70561.797753,9.020155e+05,9.054951e+05,1.533429e+07,2846.441948,3479.669878,0.018566,0.022697
2024-09-09,1.412044e+07,308352.059925,308352.059925,1.210368e+06,1.213847e+06,1.533429e+07,0.000000,3479.669878,0.000000,0.022697

In [6]:
bal.cash_and_nav

,available_balance,nav_approx,diff_approx,total_diff_approx,return_nav_approx,cumreturn_nav_approx
date,,,,,,
2024-09-01,1.533081e+07,1.533081e+07,0.000000,0.000000,0.000000,0.000000
2024-09-03,1.489410e+07,1.532808e+07,-2731.202027,-2731.202027,-0.017815,-0.017815
2024-09-05,1.449651e+07,1.533144e+07,3364.429958,633.227931,0.021949,0.004130
2024-09-06,1.442879e+07,1.533429e+07,2846.441948,3479.669878,0.018566,0.022697
2024-09-09,1.412044e+07,1.533429e+07,0.000000,3479.669878,0.000000,0.022697

In [5]:
df = bal.get_timeseries_evaluations()
df

- open: Life Asset trade instruction 20240903.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-03
- open: Life Asset trade instruction 20240903.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-03
- open: Life Asset trade instruction 20240905.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-05
- open: Life Asset trade instruction 20240905.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-05
- open: Life Asset trade instruction 20240906.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-06
- open: Life Asset trade instruction 20240906.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-06
- open: Life Asset trade instruction 20240909.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-09
- open: Life Asset trade instruction 20240909.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-09

            acquisition_approx_ordered  evaluation_ordered
date
2024-09-03               436705.417691       433974.215664
2024-09-05               397594.694841       400959.124799
2024-09-06                67715.355805        70561.797753
2024-09-09               308352.059925       308352.059925

In [4]:
data = bal.initial
data

{'date_str': '01-Sep-2024',
 'opening_balance': 0,
 'ledger_balance': 15330806.5,
 'available_balance': 15330806.5,
 'date': '2024-09-01'}

In [6]:
df = pd.DataFrame([data])
cols_to_keep = ['date', 'available_balance']
df = df[cols_to_keep].set_index('date')
df

            available_balance
date
2024-09-01         15330806.5

In [7]:
df2 = bal.get_timeseries_evaluations()
df2

- open: Life Asset trade instruction 20240903.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-03
- open: Life Asset trade instruction 20240903.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-03
- open: Life Asset trade instruction 20240905.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-05
- open: Life Asset trade instruction 20240905.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-05
- open: Life Asset trade instruction 20240906.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-06
- open: Life Asset trade instruction 20240906.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-06
- open: Life Asset trade instruction 20240909.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-09
- open: Life Asset trade instruction 20240909.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-09

            evaluation_of_order
date
2024-09-03        433974.215664
2024-09-05        400959.124799
2024-09-06         70561.797753
2024-09-09        308352.059925

In [8]:
bal.initial

{'date_str': '01-Sep-2024',
 'opening_balance': 0,
 'ledger_balance': 15330806.5,
 'available_balance': 15330806.5,
 'date': '2024-09-01'}

In [8]:
acc = Account()
acc.history

- open: Life Asset trade instruction 20240903.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-03
- open: Life Asset trade instruction 20240903.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-03
- open: Life Asset trade instruction 20240905.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-05
- open: Life Asset trade instruction 20240905.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-05
- open: Life Asset trade instruction 20240906.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-06
- open: Life Asset trade instruction 20240906.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-06
- open: Life Asset trade instruction 20240909.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-09
- open: Life Asset trade instruction 20240909.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-09

,ticker,name_kr,name,num,price_acquisition_approx,price_last,return_approx,acquisition_approx_krw,evaluation_krw,acquisition_approx_usd,evaluation_usd,cap,sector,market_index
date,,,,,,,,,,,,,,
2024-09-03,007340 KS,DN오토모티브,DN AUTOMOTIVE CORP,2500,92500,94200.0,1.837838,231250000,235500000.0,172330.277964,175497.429019,9414.0,Consumer Discretionary,KOSPI Index
2024-09-03,282690 KS,동아타이어,DONG AH TIRE & RUBBER CO LTD,3500,13630,13500.0,-0.953778,47705000,47250000.0,35550.339071,35211.267606,1853.0,Consumer Discretionary,KOSPI Index
2024-09-03,003030 KS,세아제강지주,SEAH STEEL HOLDINGS CORP,800,182000,174700.0,-4.010989,145600000,139760000.0,108502.869066,104150.830911,7235.0,Materials,KOSPI Index
2024-09-03,271560 KS,오리온,ORION CORP/REPUBLIC OF KOREA,1800,89700,88800.0,-1.003344,161460000,159840000.0,120321.931590,119114.688129,35101.0,Consumer Staples,KOSPI Index
2024-09-05,007340 KS,DN오토모티브,DN AUTOMOTIVE CORP,2500,91900,94200.0,2.502720,229750000,235500000.0,172155.408190,176463.976621,9414.0,Consumer Discretionary,KOSPI Index
2024-09-05,003030 KS,세아제강지주,SEAH STEEL HOLDINGS CORP,800,176500,174700.0,-1.019830,141200000,139760000.0,105803.454348,104724.438949,7235.0,Materials,KOSPI Index
2024-09-05,271560 KS,오리온,ORION CORP/REPUBLIC OF KOREA,1800,88700,88800.0,0.112740,159660000,159840000.0,119635.832303,119770.709228,35101.0,Consumer Staples,KOSPI Index
2024-09-06,007340 KS,DN오토모티브,DN AUTOMOTIVE CORP,1000,90400,94200.0,4.203540,90400000,94200000.0,67715.355805,70561.797753,9414.0,Consumer Discretionary,KOSPI Index
2024-09-09,007340 KS,DN오토모티브,DN AUTOMOTIVE CORP,2500,94200,94200.0,0.000000,235500000,235500000.0,176404.494382,176404.494382,9414.0,Consumer Discretionary,KOSPI Index
2024-09-09,003030 KS,세아제강지주,SEAH STEEL HOLDINGS CORP,500,174700,174700.0,0.000000,87350000,87350000.0,65430.711610,65430.711610,7235.0,Materials,KOSPI Index
2024-09-09,271560 KS,오리온,ORION CORP/REPUBLIC OF KOREA,1000,88800,88800.0,0.000000,88800000,88800000.0,66516.853933,66516.853933,35101.0,Consumer Staples,KOSPI Index

In [9]:
acc.holdings

,ticker,name_kr,name,num,price_last,evaluation_krw,evaluation_usd,sector
0,003030 KS,세아제강지주,SEAH STEEL HOLDINGS CORP,2100,174700.0,366870000.0,274808.988764,Materials
1,007340 KS,DN오토모티브,DN AUTOMOTIVE CORP,8500,94200.0,800700000.0,599775.280899,Consumer Discretionary
2,271560 KS,오리온,ORION CORP/REPUBLIC OF KOREA,4600,88800.0,408480000.0,305977.528090,Consumer Staples
3,282690 KS,동아타이어,DONG AH TIRE & RUBBER CO LTD,3500,13500.0,47250000.0,35393.258427,Consumer Discretionary

In [10]:
df1 = acc.holdings
df2 = bal.cash_and_nav

In [15]:
274808.988764/15334286.169878252

0.01792121170294958

In [12]:
df2.iloc[-1]['nav_approx']

15334286.169878252

In [14]:
df1['weight_approx'] = df1['evaluation_usd'] / df2.iloc[-1]['nav_approx']*100
df1

,ticker,name_kr,name,num,price_last,evaluation_krw,evaluation_usd,sector,weight_approx
0,003030 KS,세아제강지주,SEAH STEEL HOLDINGS CORP,2100,174700.0,366870000.0,274808.988764,Materials,1.792121
1,007340 KS,DN오토모티브,DN AUTOMOTIVE CORP,8500,94200.0,800700000.0,599775.280899,Consumer Discretionary,3.911335
2,271560 KS,오리온,ORION CORP/REPUBLIC OF KOREA,4600,88800.0,408480000.0,305977.528090,Consumer Staples,1.995382
3,282690 KS,동아타이어,DONG AH TIRE & RUBBER CO LTD,3500,13500.0,47250000.0,35393.258427,Consumer Discretionary,0.230811

In [ ]:
def get_df_weight_approx():
    acc = Account()
    bal = Balance(date=get_today())
    df1 = acc.holdings
    df2 = bal.cash_and_nav
    df1['weight_approx'] = df1['evaluation_usd'] / df2.iloc[-1]['nav_approx']*100
    return df1

In [ ]:
df1 = acc.holdings
df2 = bal.cash_and_nav

In [8]:
df = acc.history
df

,ticker,name_kr,name,num,price_approx,price_last,return_approx,evaluation_krw,evaluation_usd,cap,sector,market_index
date,,,,,,,,,,,,
2024-09-03,007340 KS,DN오토모티브,DN AUTOMOTIVE CORP,2500,92500,94200.0,1.837838,235500000.0,175497.429019,9414.0,Consumer Discretionary,KOSPI Index
2024-09-03,282690 KS,동아타이어,DONG AH TIRE & RUBBER CO LTD,3500,13630,13500.0,-0.953778,47250000.0,35211.267606,1853.0,Consumer Discretionary,KOSPI Index
2024-09-03,003030 KS,세아제강지주,SEAH STEEL HOLDINGS CORP,800,182000,174700.0,-4.010989,139760000.0,104150.830911,7235.0,Materials,KOSPI Index
2024-09-03,271560 KS,오리온,ORION CORP/REPUBLIC OF KOREA,1800,89700,88800.0,-1.003344,159840000.0,119114.688129,35101.0,Consumer Staples,KOSPI Index
2024-09-05,007340 KS,DN오토모티브,DN AUTOMOTIVE CORP,2500,91900,94200.0,2.502720,235500000.0,176463.976621,9414.0,Consumer Discretionary,KOSPI Index
2024-09-05,003030 KS,세아제강지주,SEAH STEEL HOLDINGS CORP,800,176500,174700.0,-1.019830,139760000.0,104724.438949,7235.0,Materials,KOSPI Index
2024-09-05,271560 KS,오리온,ORION CORP/REPUBLIC OF KOREA,1800,88700,88800.0,0.112740,159840000.0,119770.709228,35101.0,Consumer Staples,KOSPI Index
2024-09-06,007340 KS,DN오토모티브,DN AUTOMOTIVE CORP,1000,90400,94200.0,4.203540,94200000.0,70561.797753,9414.0,Consumer Discretionary,KOSPI Index
2024-09-09,007340 KS,DN오토모티브,DN AUTOMOTIVE CORP,2500,94200,94200.0,0.000000,235500000.0,176404.494382,9414.0,Consumer Discretionary,KOSPI Index
2024-09-09,003030 KS,세아제강지주,SEAH STEEL HOLDINGS CORP,500,174700,174700.0,0.000000,87350000.0,65430.711610,7235.0,Materials,KOSPI Index
2024-09-09,271560 KS,오리온,ORION CORP/REPUBLIC OF KOREA,1000,88800,88800.0,0.000000,88800000.0,66516.853933,35101.0,Consumer Staples,KOSPI Index

In [10]:
df[['evaluation_usd']].groupby(df.index).sum()

            evaluation_usd
date
2024-09-03   433974.215664
2024-09-05   400959.124799
2024-09-06    70561.797753
2024-09-09   308352.059925

In [5]:
bal.get_initial_data_of_month()

AttributeError: 'Balance' object has no attribute 'raw'

In [4]:
file_names = scan_files_including_regex(file_folder=file_folder['balance'], regex='')
file_names

['20003067788_USD_20240909-08.xls', '20003067788_USD_20240909-09.xls']

In [5]:
def get_info_balance_latest(file_folder=file_folder['balance']):
    file_names = scan_files_including_regex(file_folder=file_folder, regex='')
    df = open_excel(file_folder=file_folder, file_name=file_names[-1], engine='xlrd')
    df = df.iloc[:4, 1:2]
    keys = ['ref_date', 'opening_balance', 'ledger_balance', 'available_balance']
    values = list(df.iloc[: ,0])
    dct = {}
    for k, v in zip(keys, values):
        dct[k] = v
    return dct

In [3]:
get_info_balance_latest()

NameError: name 'file_names' is not defined

In [56]:
df = open_excel(file_folder=file_folder['balance'], file_name=file_names[-1], engine='xlrd')
df = df.iloc[:4, 1:2]
keys = ['ref_date', 'opening_balance', 'ledger_balance', 'available_balance']
values = list(df.iloc[: ,0])

  LIFE KOREA ENGAGEMENT FUND 20003067788 USD
0                                01-Sep-2024
1                                          0
2                                 15330806.5
3                                 15330806.5

['01-Sep-2024', 0, 15330806.5, 15330806.5]

In [49]:
df.to_dict(orient='records')

[{'Statement as at :': '01-Sep-2024',
  'Opening Balance :': 0,
  'Ledger Balance :': 15330806.5,
  'Available Balance :': 15330806.5}]

In [40]:
df.T

,0,1,2,3,4,5,6,7,8,9,10,11,12
Account Details for :,Statement as at :,Opening Balance :,Ledger Balance :,Available Balance :,Date,02-Sep-2024,02-Sep-2024,04-Sep-2024,04-Sep-2024,04-Sep-2024,04-Sep-2024,Printed By,Printed On
LIFE KOREA ENGAGEMENT FUND 20003067788 USD,01-Sep-2024,0,15330806.5,15330806.5,Value Date,02-Sep-2024,02-Sep-2024,04-Sep-2024,04-Sep-2024,04-Sep-2024,04-Sep-2024,HKBRLI85MS1@HKBRLI85,09-Sep-2024 08:13:24
Unnamed: 2,To :,NaN,NaN,NaN,Transaction Description 1,TRANSFER,TRANSFER,TRANSFER,TRANSFER,TRANSFER,TRANSFER,NaN,NaN
Unnamed: 3,09-Sep-2024,NaN,NaN,NaN,Transaction Description 2,TRANSFER 0807RF2226688 LIFE KOREA ENGAGEMENT F...,TRANSFER 0807RF2226730 LIFE KOREA ENGAGEMENT F...,"RVP713948453 BUY KRW 201,491,990@1,338.66 RATE","RVP713948452 BUY KRW 160,040,980@1,338.66 RATE","RVP713948170 BUY KRW 32,552,480@1,338.66 RATE","RVP713948169 BUY KRW 220,495,970@1,338.66 RATE",NaN,NaN
Unnamed: 4,NaN,NaN,NaN,NaN,Debit,NaN,NaN,150517.67,119553.12,24317.21,164713.95,NaN,NaN
Unnamed: 5,NaN,NaN,NaN,NaN,Credit,989981.69,14799926.76,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 6,NaN,NaN,NaN,NaN,Running Balance,989981.69,15789908.45,15639390.78,15519837.66,15495520.45,15330806.5,NaN,NaN

In [39]:
list(df.T.iloc[1])

['01-Sep-2024',
 0,
 15330806.5,
 15330806.5,
 'Value Date',
 '02-Sep-2024',
 '02-Sep-2024',
 '04-Sep-2024',
 '04-Sep-2024',
 '04-Sep-2024',
 '04-Sep-2024',
 'HKBRLI85MS1@HKBRLI85',
 '09-Sep-2024 08:13:24']

In [ ]:
df.iloc[:4, :2]

In [ ]:
df[df['Account Details for :']=='Available Balance :']

In [7]:
df[df['Account Details for :']=='Available Balance :']

,Account Details for :,LIFE KOREA ENGAGEMENT FUND 20003067788 USD,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
3,Available Balance :,15330806.5,NaN,NaN,NaN,NaN,NaN

In [3]:
account = Account()

- open: Life Asset trade instruction 20240903.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-03
- open: Life Asset trade instruction 20240903.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-03
- open: Life Asset trade instruction 20240905.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-05
- open: Life Asset trade instruction 20240905.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-05
- open: Life Asset trade instruction 20240906.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-06
- open: Life Asset trade instruction 20240906.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-06
- open: Life Asset trade instruction 20240909.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-09
- open: Life Asset trade instruction 20240909.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-09

In [4]:
account.info

,ticker,name_kr,name,num,price_last,evaluation_krw,evaluation_usd,cap,sector,market_index
0,003030 KS,세아제강지주,SEAH STEEL HOLDINGS CORP,2100,174700.0,366870000.0,274808.988764,7235.0,Materials,KOSPI Index
1,007340 KS,DN오토모티브,DN AUTOMOTIVE CORP,8500,94200.0,800700000.0,599775.280899,9414.0,Consumer Discretionary,KOSPI Index
2,271560 KS,오리온,ORION CORP/REPUBLIC OF KOREA,4600,88800.0,408480000.0,305977.528090,35101.0,Consumer Staples,KOSPI Index
3,282690 KS,동아타이어,DONG AH TIRE & RUBBER CO LTD,3500,13500.0,47250000.0,35393.258427,1853.0,Consumer Discretionary,KOSPI Index

In [3]:
df = account.history
df

NameError: name 'account' is not defined

In [4]:
df = df[['ticker', 'num']].groupby('ticker').sum()
df

            num
ticker
003030 KS  2100
007340 KS  8500
271560 KS  4600
282690 KS  3500

In [5]:
df = append_market_info_to_history(df)
df

,ticker,num,ticker_bbg,name_kr,name,market_index,sector,cap,price_last
0,003030 KS,2100,003030 KS Equity,세아제강지주,SEAH STEEL HOLDINGS CORP,KOSPI Index,Materials,7235.0,174700.0
1,007340 KS,8500,007340 KS Equity,DN오토모티브,DN AUTOMOTIVE CORP,KOSPI Index,Consumer Discretionary,9414.0,94200.0
2,271560 KS,4600,271560 KS Equity,오리온,ORION CORP/REPUBLIC OF KOREA,KOSPI Index,Consumer Staples,35101.0,88800.0
3,282690 KS,3500,282690 KS Equity,동아타이어,DONG AH TIRE & RUBBER CO LTD,KOSPI Index,Consumer Discretionary,1853.0,13500.0

In [6]:
append_derived_info_to_history(df)

,ticker,num,ticker_bbg,name_kr,name,market_index,sector,cap,price_last,evaluation_krw,evaluation_usd
0,003030 KS,2100,003030 KS Equity,세아제강지주,SEAH STEEL HOLDINGS CORP,KOSPI Index,Materials,7235.0,174700.0,366870000.0,274808.988764
1,007340 KS,8500,007340 KS Equity,DN오토모티브,DN AUTOMOTIVE CORP,KOSPI Index,Consumer Discretionary,9414.0,94200.0,800700000.0,599775.280899
2,271560 KS,4600,271560 KS Equity,오리온,ORION CORP/REPUBLIC OF KOREA,KOSPI Index,Consumer Staples,35101.0,88800.0,408480000.0,305977.528090
3,282690 KS,3500,282690 KS Equity,동아타이어,DONG AH TIRE & RUBBER CO LTD,KOSPI Index,Consumer Discretionary,1853.0,13500.0,47250000.0,35393.258427

In [ ]:
['ticker', 'name_kr', 'name', 'num', 'price_last', 'evaluation_krw', 'evaluation_usd', 'cap', 'sector', 'market_index']

In [2]:
order = Order(date='2024-09-03')
order

- open: Life Asset trade instruction 20240903.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-03

In [3]:
order.order_info

,ticker,name_kr,name,num,price_acquisition,price_last,return,evaluation_krw,evaluation_usd,cap,sector,market_index
date,,,,,,,,,,,,
2024-09-03,007340 KS,DN오토모티브,DN AUTOMOTIVE CORP,2500,92500,94200.0,1.837838,235500000.0,175497.429019,9414.0,Consumer Discretionary,KOSPI Index
2024-09-03,282690 KS,동아타이어,DONG AH TIRE & RUBBER CO LTD,3500,13630,13500.0,-0.953778,47250000.0,35211.267606,1853.0,Consumer Discretionary,KOSPI Index
2024-09-03,003030 KS,세아제강지주,SEAH STEEL HOLDINGS CORP,800,182000,174700.0,-4.010989,139760000.0,104150.830911,7235.0,Materials,KOSPI Index
2024-09-03,271560 KS,오리온,ORION CORP/REPUBLIC OF KOREA,1800,89700,88800.0,-1.003344,159840000.0,119114.688129,35101.0,Consumer Staples,KOSPI Index

In [3]:
order.order_dates

['2024-09-03', '2024-09-05', '2024-09-06', '2024-09-09']

In [4]:
order.get_params()

{'date': '2024-09-03', 'index': None}

In [5]:
df = order.raw
df

,Name,Account,Side,Broker,Symbol,Amount,Order Type,Limit,Instructions,CFD,Rationale
date,,,,,,,,,,,
2024-09-03,DN Automotive,715543911501,B,Samsung,007340 KS,2500,MKT,93000.0,VWAP,NaN,"Currently trading at a PER of less than 3, ind..."
2024-09-03,Dong Ah Tire & Rubber,715543911501,B,Samsung,282690 KS,3500,MKT,13550.0,VWAP,NaN,The company is set to merge with DN Automotive...
2024-09-03,SeAH Steel Holdings,715543911501,B,Samsung,003030 KS,800,MKT,183000.0,VWAP,NaN,The company is trading at a PER of less than 3...
2024-09-03,Orion,715543911501,B,Samsung,271560 KS,1800,MKT,NaN,VWAP,NaN,The company has been overlooked by the market ...

In [10]:
{
    'Symbol': '007340 KS',
    'Name': 'DN Automotive',
    'Amount': 2500,
    'Limit': 93000.0,
    'Rationale': 'Currently trading at a PER of less than 3, indicating extreme undervaluation. The order backlog is steadily increasing, and favorable conditions (costs/FX) suggest consistent improvement in performance over the next 5 years. A cumulative profit increase of over 100% is possibled. In particular, IPO of the core subsidiary is expected within the next year. The target market cap presented by underwriters is at least five times the current market cap of the parent company, indicating a significant revaluation event is likely within the next year.'
}

{'Symbol': '007340 KS',
 'Name': 'DN Automotive',
 'Amount': 2500,
 'Limit': 93000.0,
 'Rationale': 'Currently trading at a PER of less than 3, indicating extreme undervaluation. The order backlog is steadily increasing, and favorable conditions (costs/FX) suggest consistent improvement in performance over the next 5 years. A cumulative profit increase of over 100% is possibled. In particular, IPO of the core subsidiary is expected within the next year. The target market cap presented by underwriters is at least five times the current market cap of the parent company, indicating a significant revaluation event is likely within the next year.'}

In [12]:
{
  'Account': 715543911501,
  'Side': 'B',
  'Broker': 'Samsung',
  'Order Type': 'MKT',
  'Instructions': 'VWAP',
  'CFD': None
}

{'Account': 715543911501,
 'Side': 'B',
 'Broker': 'Samsung',
 'Order Type': 'MKT',
 'Instructions': 'VWAP',
 'CFD': None}

In [9]:
df.to_dict(orient='records')

[{'Name': 'DN Automotive',
  'Account': 715543911501,
  'Side': 'B',
  'Broker': 'Samsung',
  'Symbol': '007340 KS',
  'Amount': 2500,
  'Order Type': 'MKT',
  'Limit': 93000.0,
  'Instructions': 'VWAP',
  'CFD': nan,
  'Rationale': 'Currently trading at a PER of less than 3, indicating extreme undervaluation. The order backlog is steadily increasing, and favorable conditions (costs/FX) suggest consistent improvement in performance over the next 5 years. A cumulative profit increase of over 100% is possibled. In particular, IPO of the core subsidiary is expected within the next year. The target market cap presented by underwriters is at least five times the current market cap of the parent company, indicating a significant revaluation event is likely within the next year.'},
 {'Name': 'Dong Ah Tire & Rubber',
  'Account': 715543911501,
  'Side': 'B',
  'Broker': 'Samsung',
  'Symbol': '282690 KS',
  'Amount': 3500,
  'Order Type': 'MKT',
  'Limit': 13550.0,
  'Instructions': 'VWAP',
  'CFD': nan,
  'Rationale': "The company is set to merge with DN Automotive soon. Based on the merger valuation, the company's stock is currently trading at a discount compared to DN Automotive's stock, presenting an arbitrage opportunity."},
 {'Name': 'SeAH Steel Holdings',
  'Account': 715543911501,
  'Side': 'B',
  'Broker': 'Samsung',
  'Symbol': '003030 KS',
  'Amount': 800,
  'Order Type': 'MKT',
  'Limit': 183000.0,
  'Instructions': 'VWAP',
  'CFD': nan,
  'Rationale': 'The company is trading at a PER of less than 3, indicating extreme undervaluation. The market’s outlook on the future of the steel pipe industry is overly pessimistic. The current stock price does not yet reflect the upcoming operation of the UK offshore wind tower substructure plant, which is set to begin by the end of this year. The company is transitioning from a focus on fossil energy-related products to renewable energy products.'},
 {'Name': 'Orion ',
  'Account': 715543911501,
  'Side': 'B',
  'Broker': 'Samsung',
  'Symbol': '271560 KS',
  'Amount': 1800,
  'Order Type': 'MKT',
  'Limit': nan,
  'Instructions': 'VWAP',
  'CFD': nan,
  'Rationale': "The company has been overlooked by the market due to its acquisition of a biotech firm focused on new drug development, which is unrelated to its traditional confectionery business. It is currently the most undervalued stock in the food and beverage sector. However, starting in the second half of the year, the company's core business is expected to see significant performance improvements, and the acquisition of the biotech company will gradually prove to have been a sound strategic move."}]

In [5]:
order.sheet

               ticker   num        ticker_bbg
date
2024-09-03  007340 KS  2500  007340 KS Equity
2024-09-03  282690 KS  3500  282690 KS Equity
2024-09-03  003030 KS   800  003030 KS Equity
2024-09-03  271560 KS  1800  271560 KS Equity

In [6]:
order.order_info

,ticker,name,num,price_acquisition,price_last,return,evaluation_krw,name_kr,cap,sector,market_index
date,,,,,,,,,,,
2024-09-03,007340 KS,DN AUTOMOTIVE CORP,2500,92500,94200.0,1.837838,235500000.0,DN오토모티브,9414.0,Consumer Discretionary,KOSPI Index
2024-09-03,282690 KS,DONG AH TIRE & RUBBER CO LTD,3500,13630,13500.0,-0.953778,47250000.0,동아타이어,1853.0,Consumer Discretionary,KOSPI Index
2024-09-03,003030 KS,SEAH STEEL HOLDINGS CORP,800,182000,174700.0,-4.010989,139760000.0,세아제강지주,7235.0,Materials,KOSPI Index
2024-09-03,271560 KS,ORION CORP/REPUBLIC OF KOREA,1800,89700,88800.0,-1.003344,159840000.0,오리온,35101.0,Consumer Staples,KOSPI Index

In [ ]:
sheet = OrderSheet(index=-2)
sheet.order_info

In [ ]:
sheet = OrderSheet(index=-1)
sheet.order_info

In [ ]:
order.

In [ ]:
df = order.reset_index().merge(ks, on='ticker_bbg', how='left')

In [ ]:
sheet = OrderSheet()
sheet

In [ ]:
order = sheet.order
order

In [ ]:
sheet.order_info

In [ ]:
ks = MarketInfo(name='ks').info
ks

In [ ]:
order['ticker_bbg'] = order['ticker'].apply(get_ticker_bbg_of_ticker)
order

In [ ]:
df = order.reset_index().merge(ks, on='ticker_bbg', how='left')
df['evaluation_krw'] = df['price_last'] * df['num']
cols_ordered = ['date', 'ticker', 'name', 'num', 'price_last', 'evaluation_krw', 'name_kr', 'cap', 'sector', 'market_index']
df = df[cols_ordered]
df = df.set_index('date')
df

In [ ]:
sheet.tickers_bbg

In [ ]:
def get_ticker_bbg_of_ticker(ticker):
    return f"{ticker} KS Equity"


class OrderSheet:
    def __init__(self, date=None):
        self.date = date
        self.order = self.get_order()
        self.tickers = self.get_tickers()
        self.tickers_bbg = self.get_tickers_bbg()

    def get_raw_order(self):
        if self.date == None:
            df = open_df_order_latest()
        else:
            df = open_df_order_by_date(self.date)
        self.raw = df
        return df
    
    def get_order(self):
        df = self.get_raw_order()
        df = preprocess_df_order(df)
        self.order = df
        return df
    
    def get_tickers(self):
        df = self.order
        tickers = list(df['ticker'])
        self.tickers = tickers
        return tickers

    def get_tickers_bbg(self):
        tickers = self.get_tickers()
        tickers_bbg = [get_ticker_bbg_of_ticker(ticker) for ticker in tickers]
        self.tickers_bbg = tickers_bbg
        return tickers_bbg 
    
    def get_name_and_price_of_tickers(self):
        df_name_price = get_df_name_price_of_tickers_bbg(sheet.tickers_bbg)
        self.prices = df_name_price
        return df_name_price
    
    def get_priced_order(self):
        if not hasattr(self, 'prices'):
            self.get_name_and_price_of_tickers()
        prices = self.prices
        df = self.order.merge(prices, how='left', left_on='ticker', right_index=True)
        self.priced_order = df
        return df


class Orders:
    def __init__(self, file_folder=DIR_ORDER):
        self.file_folder = file_folder
        self.dates = self.get_dates()
        self.orders = self.get_orders()
        self.history = self.get_order_history()

    def get_dates(self):
        dates = get_dates_of_order(file_folder=self.file_folder)
        self.dates = dates
        return dates
    
    def get_orders(self):
        dct = {}
        for date in self.dates:
            OrderSheet(date=date)
            dct[date] = OrderSheet(date=date).order
        self.orders = dct
        return dct
    
    def get_order_history(self):
        self.get_orders()
        df = pd.concat(self.orders.values(), axis=0)
        self.history = df
        return df
    
    def get_holding(self):
        self.get_order_history()
        df = self.history.groupby('ticker').sum()
        self.holding = df
        return df
    
    def get_tickers(self):
        df = self.history
        tickers = list(df['ticker'])
        self.tickers = tickers
        return tickers

    def get_tickers_bbg(self):
        tickers = self.get_tickers()
        tickers_bbg = [get_ticker_bbg_of_ticker(ticker) for ticker in tickers]
        self.tickers_bbg = tickers_bbg
        return tickers_bbg 
    
    def get_name_and_price_of_tickers(self):
        df_name_price = get_df_name_price_of_tickers_bbg(sheet.tickers_bbg)
        self.prices = df_name_price
        return df_name_price
    
    def get_priced_history(self):
        if not hasattr(self, 'prices'):
            self.get_name_and_price_of_tickers()
        prices = self.prices
        df = self.history.merge(prices, how='left', left_on='ticker', right_index=True)
        df = df.rename(columns={'NAME': 'name', 'PX_LAST': 'price_asof'})
        cols_ordered = ['ticker', 'name', 'num', 'price_asof']
        df = df[cols_ordered]
        self.priced_history = df
        return df
    
    def get_holdings(self):
        df = self.history
        df = df.groupby(by='ticker').sum()
        self.holdings = df
        if not hasattr(self, 'prices'):
            self.get_name_and_price_of_tickers()
        prices = self.prices
        df = self.holdings.merge(prices, how='left', left_on='ticker', right_index=True)
        df = df.rename(columns={'NAME': 'name', 'PX_LAST': 'price_asof'})
        cols_ordered = ['name', 'num', 'price_asof']
        df = df[cols_ordered]
        df['evaluation'] = df['num'] * df['price_asof']
        self.holdings = df
        return df

In [ ]:
file_folder['sector']

In [ ]:
MAPPING_SECTOR = {
    'NAME': 'name',
    'GICS_SECTOR_NAME': 'sector',
}

In [ ]:
sector = open_df_in_file_folder_by_regex(file_folder=file_folder['sector'], regex='ks_name_sector')
sector = sector.rename(columns=MAPPING_SECTOR)
sector

In [ ]:
prices = get_df_prices_of_ks_stock()
prices

In [ ]:
prices_sector = prices.merge(sector, how='outer', left_index=True, right_index=True)
cols_ordered = ['name_kr', 'name', 'ticker_bbg_index', 'sector', 'price_last']
prices_sector = prices_sector[cols_ordered]
prices_sector

In [ ]:
mapping_

In [ ]:
prices = preprocess_df_from_price_data(data)
prices

In [ ]:
from shining_pebbles import *
import os
import pandas as pd

In [ ]:
def open_excel(file_name, file_folder='data'):
    file_path = os.path.join(file_folder, file_name)
    return pd.read_excel(file_path)

In [ ]:
order = open_excel('Life Asset trade instruction 20240903.xlsx')
order

In [ ]:
sellbuy = open_excel(file_name='LKEF Trade 0902.xls')
sellbuy

In [ ]:
status = open_excel(file_name='Post-Instruction Portfolio Weight 0903.xlsx')
status

In [ ]:
### FUND STATUS

In [ ]:
def get_df_status(date):
    date = date.replace('-', '')
    yyyymmdd = date
    try:
        status = open_excel(file_name=f'Post-Instruction Portfolio Weight {date}.xlsx')
    except:
        try:
            mmdd = yyyymmdd[4:]
            status = open_excel(file_name=f'Post-Instruction Portfolio Weight {mmdd}.xlsx')
        except Exception as e:
            print(e)
            status = None
    return status

In [ ]:
get_df_status('2024-09-03')

In [ ]:
def get_df_info_account(status):
    info_account = status.iloc[:2, :3]
    info_account.columns = info_account.iloc[0]
    info_account = info_account.iloc[1:]
    return info_account

In [ ]:
# def scan_files_status(date):
#     date = date.replace('-', '')
#     yyyymmdd = date
#     file_names = scan_files_including_regex(file_folder='data', regex=f'Post-Instruction.*{date}')
#     if len(file_names) == 0:
#         mmdd = yyyymmdd[4:]
#         file_names = scan_files_including_regex(file_folder='data', regex=f'Post-Instruction.*{mmdd}')
#     if len(file_names) == 0:
#         file_names = None
#     if file_names != None:
#         file_names = sorted(file_names)
#     return file_names

In [ ]:
import re

# def get_df_status(date):
#     date = date.replace('-', '')
#     yyyymmdd = date
#     try:
#         status = open_excel(file_name=f'Post-Instruction Portfolio Weight {date}.xlsx')
#     except:
#         try:
#             mmdd = yyyymmdd[4:]
#             status = open_excel(file_name=f'Post-Instruction Portfolio Weight {mmdd}.xlsx')
#         except Exception as e:
#             print(e)
#             status = None
#     return status

def scan_files_including_date_in_file_name_prefix(prefix, date, file_folder):
    date = date.replace('-', '')
    yyyymmdd = date
    regex = f'{prefix}.*{yyyymmdd}'
    file_names = scan_files_including_regex(file_folder=file_folder, regex=regex)
    if len(file_names) == 0:
        mmdd = yyyymmdd[4:]
        regex = f'{prefix}.*{mmdd}'
        file_names = scan_files_including_regex(file_folder=file_folder, regex=regex)
    if len(file_names) == 0:
        file_names = None
    if file_names != None:
        file_names = sorted(file_names)
    return file_names


def open_df_status_of_date(date, file_folder='dataset-status'):
    prefix = 'Post-Instruction'
    file_name = scan_files_including_date_in_file_name_prefix(prefix=prefix, date=date, file_folder=file_folder)[-1]
    df = open_excel(file_name, file_folder=file_folder)
    print(f'- open: {file_name} in {file_folder}')
    return df

def open_df_status_latest(file_folder='dataset-status'):
    prefix = 'Post-Instruction'
    file_name = scan_files_including_regex(file_folder='dataset-status', regex=prefix)[-1]
    df = open_excel(file_name, file_folder=file_folder)
    print(f'- open: {file_name} in {file_folder}')
    return df

def open_df_sellbuy_latest(file_folder='dataset-sellbuy'):
    prefix = 'LKEF Trade'
    file_name = scan_files_including_regex(file_folder='dataset-sellbuy', regex=prefix)[-1]
    df = open_excel(file_name, file_folder=file_folder)
    print(f'- open: {file_name} in {file_folder}')
    return df

def open_df_sellbuy_of_date(date, file_folder='dataset-sellbuy'):
    prefix = 'LKEF Trade'
    file_name = scan_files_including_date_in_file_name_prefix(prefix=prefix, date=date, file_folder=file_folder)[-1]
    df = open_excel(file_name, file_folder=file_folder)
    print(f'- open: {file_name} in {file_folder}')
    return df

def preprocess_df_status(status):
    df = status.iloc[:2, :3]
    df.columns = df.iloc[0]
    df = df.iloc[1:]
    return df

def extract_text_in_parentheses(text):
    match = re.search(r'\((.*?)\)', text)
    if match:
        return match.group(1)
    return None

def get_date_ref_from_status_col(col_fx):
    m_raw, d_raw = extract_text_in_parentheses(col_fx).split(' ')[-1].split('/')
    mm = m_raw.zfill(2)
    dd = d_raw.zfill(2)
    yyyy = get_today()[:4]
    date = f'{yyyy}-{mm}-{dd}'
    return date

def get_num_from_usd_str(usd_str):
    try:
        usd = float(usd_str.replace('$', '').replace(',', ''))
    except:
        usd = None
    return usd

def get_df_info(df):
    cols_ref = list(df.columns)
    date = get_date_ref_from_status_col(cols_ref[-1])
    df.columns = ['fund_name', 'amount_raw', 'usdkrw']
    df['amount_usd'] = df['amount_raw'].apply(get_num_from_usd_str)
    df['amount_krw'] = df['amount_usd'] * df['usdkrw']
    df['date'] = date
    df = df.set_index('date')
    return df

def get_data_info(df_info):
    data = df_info.reset_index().to_dict(orient='records')
    return data

def get_usdkrw(df_info):
    usdkrw = get_data_info(df_info)[0]['usdkrw']
    return usdkrw

def get_amount_usd(df_info):
    amount_usd = get_data_info(df_info)[0]['amount_usd']
    return amount_usd

def get_amount_krw(df_info):
    amount_krw = get_data_info(df_info)[0]['amount_krw']
    return amount_krw

def get_ticker_bbg_of_ticker(ticker):
    ticker_bbg = f'{ticker} KS Equity'.replace(' KS KS', ' KS')
    return ticker_bbg

def get_ticker_of_ticker_bbg(ticker_bbg):
    ticker = ticker_bbg.replace(' Equity', '')
    return ticker

def get_current_price_of_ticker_bbg(bcon, ticker_bbg):
    fld = 'PX_LAST'
    df = bcon.ref(tickers=ticker_bbg, flds=[fld])
    df.index = df['ticker'].apply(get_ticker_of_ticker_bbg)
    df = df[['value']]
    df = df.rename(columns={'value': fld})
    return df

def get_current_prices_of_tickers_bbg(tickers_bbg):
    dfs = [get_current_price_of_ticker_bbg(ticker_bbg) for ticker_bbg in tickers_bbg]
    df = pd.concat(dfs, axis=0)
    return df

def get_df_account(status):
    df = status.iloc[3:, :]
    df.columns = df.iloc[0]
    df = df.iloc[1:]
    df = df.dropna()
    df['ticker'] = df['Symbol']
    df = df.set_index('ticker')
    df.columns.name = ''
    return df


COLUMNS_asof = ['Name', 'Symbol', '# of Current Shares', 'Purchase Price',
       'Purchase Amount']

COLUMNS_NEW = ['Name', 'New Order']

COLUMNS_AFTER = ['Name', '# of After Order Shares', 'Last Price',
       'After Order Amount(KRW)', 'After Order Amount(USD)',
       'Portfolio Weight']

MAPPING_COLUMNS_asof = {
    'Name': 'name',
    'Symbol': 'ticker',
    '# of Current Shares': 'num_asof',
    'Purchase Price': 'price_purchase',
    'Purchase Amount': 'amount_asof'
}

MAPPING_COLUMNS_NEW = {
    'Name': 'name_order',
    'New Order': 'num_order'
}

MAPPING_COLUMNS_AFTER = {
    'Name': 'name',
    '# of After Order Shares': 'num_after',
    'Last Price': 'price_last',
    'After Order Amount(KRW)': 'amount_after_krw',
    'After Order Amount(USD)': 'amount_after_usd',
    'Portfolio Weight': 'weight'
}

def get_df_account_asof(df_account):
    df = df_account[COLUMNS_asof]
    df.columns = [MAPPING_COLUMNS_asof[col] for col in df.columns]
    return df

def get_df_account_order(df_account):
    df = df_account[COLUMNS_NEW]
    df.columns = [MAPPING_COLUMNS_NEW[col] for col in df.columns]
    return df

def sum_df_asof_and_order(df_asof, df_order):
    df = pd.concat([df_asof, df_order], axis=1)
    return df

def get_df_tobe(df_sum, df_info):
    df = df_sum.copy()
    df_tobe = df.copy()[['name']]
    df_tobe['num_tobe'] = df['num_asof'] + df['num_order']
    tickers_bbg = df.index.map(get_ticker_bbg_of_ticker)
    df_tobe['price_last'] = tickers_bbg.map(get_current_prices_of_tickers_bbg)
    df_tobe['amount_tobe_krw'] = df_tobe['num_tobe'] * df_tobe['price_last']
    df_tobe['amount_tobe_usd'] = df_tobe['amount_tobe_krw'] / get_usdkrw(df_info)
    df_tobe['weight_tobe'] = df_tobe['amount_tobe_krw'] / get_amount_krw(df_info)
    return df_tobe

def get_df_tobe(df_sum, df_info, df_after):
    df = df_sum.copy()
    df_tobe = df.copy()[['name']]
    df_tobe['num_tobe'] = df['num_asof'] + df['num_order']
    tickers_bbg = df.index.map(get_ticker_bbg_of_ticker)
    # df_tobe['price_last'] = tickers_bbg.map(get_asof_prices_of_tickers_bbg)
    df_tobe['price_last'] = df_after['price_last']
    df_tobe['amount_tobe_krw'] = df_tobe['num_tobe'] * df_tobe['price_last']
    df_tobe['amount_tobe_usd'] = df_tobe['amount_tobe_krw'] / get_usdkrw(df_info)
    df_tobe['weight_tobe'] = df_tobe['amount_tobe_krw'] / get_amount_krw(df_info)
    return df_tobe

def get_df_account_after(df_account):
    df = df_account[COLUMNS_AFTER]
    df.columns = [MAPPING_COLUMNS_AFTER[col] for col in df.columns]
    return df

In [ ]:
DIR_ORDER = './dataset-order'

MAPPING_COLUMNS_ORDER = {
    'Name': 'name',
    'Symbol': 'ticker',
    'Amount': 'num'
}

def open_excel(file_name, file_folder='data'):
    file_path = os.path.join(file_folder, file_name)
    return pd.read_excel(file_path)

def scan_files_order(file_folder=DIR_ORDER):
    prefix = 'Life Asset trade instruction'
    file_names = scan_files_including_regex(file_folder=file_folder, regex=prefix)
    return file_names

def extract_date_in_file_name(file_name):
    match = re.search(r'\b\d{8}\b', file_name)
    if match:
        return match.group(0)
    return None

def get_order_date_in_file_name(file_name, form='%Y-%m-%d'):
    date = extract_date_in_file_name(file_name)
    if form == '%Y-%m-%d':
        date = f'{date[:4]}-{date[4:6]}-{date[6:]}' if '-' not in date else date
    return date

def get_dates_of_order(file_folder=DIR_ORDER, form='%Y-%m-%d'):
    file_names = scan_files_order(file_folder=file_folder)
    dates = [get_order_date_in_file_name(file_name=file_name, form=form) for file_name in file_names]
    return dates

def open_df_order_latest(file_folder=DIR_ORDER):
    prefix = 'Life Asset trade instruction'
    file_name = scan_files_including_regex(file_folder=DIR_ORDER, regex=prefix)[-1]
    df = open_excel(file_name, file_folder=file_folder)
    date = get_order_date_in_file_name(file_name)
    df['date'] = date
    df = df.set_index('date')
    print(f'- open: {file_name} in {file_folder}')
    return df

def open_df_order_by_date(date, file_folder=DIR_ORDER):
    prefix = 'Life Asset trade instruction'
    file_name = scan_files_including_date_in_file_name_prefix(prefix=prefix, date=date, file_folder=file_folder)[-1]
    df = open_excel(file_name, file_folder=file_folder)
    date = get_order_date_in_file_name(file_name)
    df['date'] = date
    df = df.set_index('date')
    print(f'- open: {file_name} in {file_folder}')
    return df

def preprocess_df_order(df_order):
    df = df_order.copy()
    cols_to_keep = ['Symbol', 'Amount']
    df = df[cols_to_keep]
    df.columns = [MAPPING_COLUMNS_ORDER[col] for col in df.columns]
    # df = df.set_index('ticker')
    return df

def get_df_order_latest(file_folder=DIR_ORDER):
    df_order = open_df_order_latest(file_folder=file_folder)
    df_order = preprocess_df_order(df_order)
    return df_order

def get_df_order_by_date(date, file_folder=DIR_ORDER):
    df_order = open_df_order_by_date(date, file_folder=file_folder)
    df_order = preprocess_df_order(df_order)
    return df_order

def merge_df_orders(dfs_order):
    df = pd.concat(dfs_order, axis=0)
    return df

def open_df_holding_latest(file_folder='dataset-holding'):
    prefix = 'dataset-cayman-holding'
    file_name = scan_files_including_regex(file_folder=file_folder, regex=prefix)[-1]
    date = pick_input_date_in_file_name(file_name)
    date = f'{date[:4]}-{date[4:6]}-{date[6:]}'
    df = open_df_in_file_folder_by_regex(file_folder=file_folder, regex=prefix)
    df.columns.name = date
    print(f'- open: {file_name} in {file_folder}')
    return df

def merge_order_to_holding(df_holding, df_order):
    df = df_holding.merge(df_order, how='outer', left_index=True, right_index=True, suffixes=('_asof', '_order'))
    df = df.fillna(0)
    df['num_tobe'] = df['num_asof'] + df['num_order']
    for col in df.columns:
        df[col] = df[col].astype(int)
    return df

def generate_df_holding_from_df_merge(df_merge):
    df = df_merge.copy()
    df = df[['num_tobe']]
    return df

class OrderSheet:
    def __init__(self, date=None):
        self.date = date
        self.order = self.get_order()
        self.tickers = self.get_tickers()
        self.tickers_bbg = self.get_tickers_bbg()

    def get_raw_order(self):
        if self.date == None:
            df = open_df_order_latest()
        else:
            df = open_df_order_by_date(self.date)
        self.raw = df
        return df
    
    def get_order(self):
        df = self.get_raw_order()
        df = preprocess_df_order(df)
        self.order = df
        return df
    
    def get_tickers(self):
        df = self.order
        tickers = list(df['ticker'])
        self.tickers = tickers
        return tickers

    def get_tickers_bbg(self):
        tickers = self.get_tickers()
        tickers_bbg = [get_ticker_bbg_of_ticker(ticker) for ticker in tickers]
        self.tickers_bbg = tickers_bbg
        return tickers_bbg 
    
class Orders:
    def __init__(self, file_folder=DIR_ORDER):
        self.file_folder = file_folder
        self.dates = self.get_dates()
        self.orders = self.get_orders()
        self.history = self.get_order_history()

    def get_dates(self):
        dates = get_dates_of_order(file_folder=self.file_folder)
        self.dates = dates
        return dates
    
    def get_orders(self):
        dct = {}
        for date in self.dates:
            OrderSheet(date=date)
            dct[date] = OrderSheet(date=date).order
        self.orders = dct
        return dct
    
    def get_order_history(self):
        self.get_orders()
        df = pd.concat(self.orders.values(), axis=0)
        self.history = df
        return df
    
    def get_holding(self):
        self.get_order_history()
        df = self.history.groupby('ticker').sum()
        self.holding = df
        return df

In [ ]:
OrderSheet().get_tickers_bbg()

In [ ]:
Orders().get_holding()

In [ ]:
df = get_df_order_latest()
df

In [ ]:
OrderSheet(date='2024-09-03').get_raw_order()

In [ ]:
OrderSheet().get_order()

In [ ]:
Orders()

In [ ]:
df1 = get_df_order_by_date('2024-09-03')
df1

In [ ]:
df2 = get_df_order_latest()
df2

In [ ]:
df = merge_df_orders([df1, df2])
df

In [ ]:
df.groupby('ticker').sum()

In [ ]:
df1 =
df_order_1 = preprocess_df_order(open_df_order_by_date('2024-09-03'))
df_order_1

In [ ]:
df_order = preprocess_df_order(open_df_order_latest())
df_order

In [ ]:
merge_order_to_holding(df_holding, df_order)

In [ ]:
scan_files_order()

In [ ]:
dates = get_dates_of_order()
dates

In [ ]:
df1 = open_df_order_by_date(dates[0])
df2 = open_df_order_by_date(dates[1])

In [ ]:
df1

In [ ]:
df1 = preprocess_df_order(df1)
df1

In [ ]:
df1.to_csv('dataset-cayman-holding-at20240903-save20240906.csv')

In [ ]:
df2 = preprocess_df_order(df2)
df2

In [ ]:
df = df1.merge(df2, how='outer', left_index=True, right_index=True, suffixes=('', '_order'))
df = df.fillna(0)
for col in df.columns:
    df[col] = df[col].astype(int)
df

In [ ]:
df1

In [ ]:
open_df_sellbuy_latest()

In [ ]:
order_sheet = open_df_order_latest()
order_sheet

In [ ]:
order_sheet['Symbol'].tolist()

In [ ]:
scan_files_status('2024-09-03')

In [ ]:
get_df_status_of_date('2024-09-03')

In [ ]:
status = get_df_status(date='2024-09-03')
status

In [ ]:
df = preprocess_df_status(status)
df

In [ ]:
df_amount = get_df_amount(df)
df_amount

In [ ]:
get_data_amount(df_amount)

In [ ]:
get_usdkrw(df_amount)

In [ ]:
df_account = get_df_account(status)
df_account

In [ ]:
df_current = get_df_account_current(df_account)
df_current

In [ ]:
df_order = get_df_account_order(df_account)
df_order

In [ ]:
data_order = [
    {'ticker': '005930 KS', 'num_order': 100},
    {'ticker': '000660 KS', 'num_order': 10}
]

In [ ]:
def generate_order(tuple_order):
    ticker = tuple_order[0]
    num_order = tuple_order[1]
    order = [{
        'ticker': ticker,
        'num_order': num_order
    }]
    return order

In [ ]:
def generate_orders(tuples_order):
    orders = []
    for tuple_order in tuples_order:
        order = generate_order(tuple_order)
        orders += order
    return orders

In [ ]:
tuple_order = ('005930 KS', 100)
generate_order(tuple_order)

In [ ]:
tuples_order = [('005930 KS', 100), ('000660 KS', 10)]
orders = generate_orders(tuples_order)
orders

In [ ]:
df_order_sheet = pd.DataFrame(data=orders, columns=['ticker', 'name', 'num_order']).set_index('ticker')
df_order_sheet

In [ ]:
df_sum = sum_df_current_and_order(df_current, df_order)
df_sum

In [ ]:
df_after = get_df_account_after(df_account)
df_after

In [ ]:
df_eval = get_df_eval(df_sum, df_amount, df_after)
df_eval

In [ ]:
df_after = get_df_account_after(df_account)
df_after

In [ ]:
extract_text_in_parentheses('FX (as of 9/3)').split(' ')[-1].split('/')

In [ ]:
get_df_info_account(status)

In [ ]:
status

In [ ]:
info_amount = status.iloc[:2, :3]
info_amount.columns = info_amount.iloc[0]
info_amount = info_amount.iloc[1:]
info_amount

In [ ]:
amount_usd = info_amount.iloc[0,1]
amount_usd = float(amount_usd.replace('$', '').replace(',', ''))
amount_usd

In [ ]:
fx = info_amount.iloc[0,2]
fx

In [ ]:
amount_krw = amount_usd * fx
amount_krw

In [ ]:
info_account = status.iloc[3:, :]
info_account.columns = info_account.iloc[0]
info_account = info_account.iloc[1:]
info_account

In [ ]:
cols_current = ['Name', 'Symbol', '# of Current Shares', 'Purchase Price',
       'Purchase Amount']
cols_after = ['New Order', '# of After Order Shares', 'Last Price',
       'After Order Amount(KRW)', 'After Order Amount(USD)',
       'Portfolio Weight']

In [ ]:
info_account_current = info_account[cols_current]
info_account_after = info_account[cols_after]

In [ ]:
info_account_current

In [ ]:
in

In [ ]:
info_account.columns

In [ ]:
file_folder = 'data'
file_name = 'Life Asset trade instruction 20240903.xlsx'
file_path = os.path.join(file_folder, file_name)
df = pd.read_excel(file_path)
df