In [1]:
from cayman_office_system import *

INFO:shining_pebbles:Shining Pebbles package initialized
INFO:numexpr.utils:Note: NumExpr detected 10 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
INFO:numexpr.utils:NumExpr defaulting to 8 threads.
/Users/juneyoungpark/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

20231031
2023-10-31

# Order

In [2]:
ord = Order(index=0)

- open: Life Asset trade instruction 20240902.xlsx in /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-order
- order date: 2024-09-02

In [3]:
ord.df

               ticker  amount        ticker_bbg
date
2024-09-02  007340 KS    2500  007340 KS Equity
2024-09-02  282690 KS    2500  282690 KS Equity
2024-09-02  003030 KS     900  003030 KS Equity
2024-09-02  271560 KS    2200  271560 KS Equity

In [4]:
ord.equities

2024-09-23,name_kr,name,market_index,sector,cap(/1e8),price_last
ticker_bbg,,,,,,
003030 KS Equity,세아제강지주,SEAH STEEL HOLDINGS CORP,KOSPI Index,Materials,7744.0,187000.0
007340 KS Equity,DN오토모티브,DN AUTOMOTIVE CORP,KOSPI Index,Consumer Discretionary,10213.0,102200.0
271560 KS Equity,오리온,ORION CORP/REPUBLIC OF KOREA,KOSPI Index,Consumer Staples,35852.0,90700.0
282690 KS Equity,동아타이어,DONG AH TIRE & RUBBER CO LTD,KOSPI Index,Consumer Discretionary,1853.0,13500.0

In [5]:
ord.info

,ticker,name_kr,name,amount,price_acquisition_approx,price_last,return_approx,acquisition_approx_krw,evaluation_krw,acquisition_approx_usd,evaluation_usd,cap(/1e8),sector,market_index
date,,,,,,,,,,,,,,
2024-09-02,007340 KS,DN오토모티브,DN AUTOMOTIVE CORP,2500,88200,102200.0,15.873016,220500000,255500000.0,164755.108903,190906.713490,10213.0,Consumer Discretionary,KOSPI Index
2024-09-02,282690 KS,동아타이어,DONG AH TIRE & RUBBER CO LTD,2500,13040,13500.0,3.527607,32600000,33750000.0,24358.351702,25217.618710,1853.0,Consumer Discretionary,KOSPI Index
2024-09-02,003030 KS,세아제강지주,SEAH STEEL HOLDINGS CORP,900,176200,187000.0,6.129398,158580000,168300000.0,118489.184444,125751.858632,7744.0,Materials,KOSPI Index
2024-09-02,271560 KS,오리온,ORION CORP/REPUBLIC OF KOREA,2200,91300,90700.0,-0.657174,200860000,199540000.0,150080.322786,149094.033698,35852.0,Consumer Staples,KOSPI Index

# Trade

In [6]:
trd = Trade(index=-1)

- set (date, index) = (2024-09-20, -1)
- net_amount: 1931465216.0

In [7]:
trd.df

,date,name,ticker,type,num_shares,average_price,consideration,commission,net_amount
0,2024-09-20,SK hynix,000660 KS,Buy,800,157177.625000,125742100.0,125742,125867842.0
1,2024-09-20,SeAH Steel Holdings,003030 KS,Buy,1200,185050.583333,222060700.0,222061,222282761.0
2,2024-09-20,DongwonInd,006040 KS,Buy,2500,30808.260000,77020650.0,77021,77097671.0
3,2024-09-20,DN AUTOMOTIVE,007340 KS,Buy,4500,102093.444444,459420500.0,459420,459879920.0
4,2024-09-20,TKCORP.,023160 KS,Buy,15000,14427.932667,216418990.0,216419,216635409.0
5,2024-09-20,ORION,271560 KS,Buy,6000,90870.500000,545223000.0,545223,545768223.0
6,2024-09-20,WooriFinancialGroup,316140 KS,Buy,18000,15758.318889,283649740.0,283650,283933390.0

In [8]:
trd.data

[{'date': '2024-09-20', 'ticker': '000660 KS', 'num_shares': 800},
 {'date': '2024-09-20', 'ticker': '003030 KS', 'num_shares': 1200},
 {'date': '2024-09-20', 'ticker': '006040 KS', 'num_shares': 2500},
 {'date': '2024-09-20', 'ticker': '007340 KS', 'num_shares': 4500},
 {'date': '2024-09-20', 'ticker': '023160 KS', 'num_shares': 15000},
 {'date': '2024-09-20', 'ticker': '271560 KS', 'num_shares': 6000},
 {'date': '2024-09-20', 'ticker': '316140 KS', 'num_shares': 18000}]

In [9]:
trd.amount

{'date': '2024-09-20', 'amount_order': 1931465216.0}

In [10]:
trd.raws_transaction[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
20,Type,NaN,NaN,KSE,Buy,NaN,NaN
21,ISIN Code / Abbr. Code,NaN,NaN,KR7000660001 / A000660,NaN,NaN,NaN
22,Security Description,NaN,NaN,SK hynix,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,No. of Shares / Price,NaN,NaN,NaN,10,/ KRW,156400.0
25,NaN,NaN,NaN,NaN,34,/ KRW,156500.0
26,NaN,NaN,NaN,NaN,75,/ KRW,156600.0
27,NaN,NaN,NaN,NaN,71,/ KRW,156700.0
28,NaN,NaN,NaN,NaN,98,/ KRW,156800.0
29,NaN,NaN,NaN,NaN,33,/ KRW,156900.0
30,NaN,NaN,NaN,NaN,16,/ KRW,157000.0
31,NaN,NaN,NaN,NaN,193,/ KRW,157100.0
32,NaN,NaN,NaN,NaN,21,/ KRW,157200.0
33,NaN,NaN,NaN,NaN,23,/ KRW,157300.0
34,NaN,NaN,NaN,NaN,12,/ KRW,157400.0
35,NaN,NaN,NaN,NaN,8,/ KRW,157500.0
36,NaN,NaN,NaN,NaN,48,/ KRW,157600.0
37,NaN,NaN,NaN,NaN,30,/ KRW,157700.0
38,NaN,NaN,NaN,NaN,25,/ KRW,157800.0
39,NaN,NaN,NaN,NaN,5,/ KRW,157900.0
40,NaN,NaN,NaN,NaN,12,/ KRW,158000.0
41,NaN,NaN,NaN,NaN,15,/ KRW,158100.0
42,NaN,NaN,NaN,NaN,2,/ KRW,158200.0
43,NaN,NaN,NaN,NaN,17,/ KRW,158300.0
44,NaN,NaN,NaN,NaN,52,/ KRW,158400.0
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Total No. of Shares,NaN,Shs,NaN,800,NaN,NaN
47,Average Price,NaN,KRW,NaN,157177.625,NaN,NaN
48,Considerations,NaN,KRW,NaN,125742100,NaN,NaN
49,Commission,NaN,KRW,NaN,125742,NaN,NaN
50,Sales Tax,NaN,KRW,NaN,0,NaN,NaN
51,Capital Gains Tax,NaN,KRW,NaN,0,NaN,NaN
52,Net Amount,NaN,KRW,NaN,125867842,NaN,NaN

# Transaction

In [11]:
transaction = trd.transactions[0]

In [12]:
transaction.data_raw

{'Type': ['KSE', 'Buy'],
 'ISIN Code / Abbr. Code': ['KR7000660001 / A000660'],
 'Security Description': ['SK hynix'],
 'Total No. of Shares': ['Shs', 800],
 'Average Price': ['KRW', 157177.625],
 'Considerations': ['KRW', 125742100],
 'Commission': ['KRW', 125742],
 'Sales Tax': ['KRW', 0],
 'Capital Gains Tax': ['KRW', 0],
 'Net Amount': ['KRW', 125867842]}

In [13]:
transaction.df

               ticker num_shares currency  price_executed      amount
date
2024-09-20  000660 KS         10   /  KRW        156400.0   1564000.0
2024-09-20  000660 KS         34   /  KRW        156500.0   5321000.0
2024-09-20  000660 KS         75   /  KRW        156600.0  11745000.0
2024-09-20  000660 KS         71   /  KRW        156700.0  11125700.0
2024-09-20  000660 KS         98   /  KRW        156800.0  15366400.0
2024-09-20  000660 KS         33   /  KRW        156900.0   5177700.0
2024-09-20  000660 KS         16   /  KRW        157000.0   2512000.0
2024-09-20  000660 KS        193   /  KRW        157100.0  30320300.0
2024-09-20  000660 KS         21   /  KRW        157200.0   3301200.0
2024-09-20  000660 KS         23   /  KRW        157300.0   3617900.0
2024-09-20  000660 KS         12   /  KRW        157400.0   1888800.0
2024-09-20  000660 KS          8   /  KRW        157500.0   1260000.0
2024-09-20  000660 KS         48   /  KRW        157600.0   7564800.0
2024-09-20  000660 KS         30   /  KRW        157700.0   4731000.0
2024-09-20  000660 KS         25   /  KRW        157800.0   3945000.0
2024-09-20  000660 KS          5   /  KRW        157900.0    789500.0
2024-09-20  000660 KS         12   /  KRW        158000.0   1896000.0
2024-09-20  000660 KS         15   /  KRW        158100.0   2371500.0
2024-09-20  000660 KS          2   /  KRW        158200.0    316400.0
2024-09-20  000660 KS         17   /  KRW        158300.0   2691100.0
2024-09-20  000660 KS         52   /  KRW        158400.0   8236800.0

In [14]:
transaction.data

{'date': '2024-09-20',
 'name': 'SK hynix',
 'ticker': '000660 KS',
 'type': 'Buy',
 'num_shares': 800,
 'average_price': 157177.625,
 'consideration': 125742100.0,
 'commission': 125742,
 'net_amount': 125867842.0}

In [15]:
transaction.show_info()

Check Identity of Data: (system) == (calculated)
- num_shares: 800 == 800
- consideration: 125742100 == 125742100.0
- commission: 125742 == 125742
- average_price: 157177.625 == 157177.625
- net_amount: 125867842 == 125867842.0
{'date': '2024-09-20', 'name': 'SK hynix', 'ticker': '000660 KS', 'type': 'Buy', 'num_shares': 800, 'average_price': 157177.625, 'consideration': 125742100.0, 'commission': 125742, 'net_amount': 125867842.0}

               ticker num_shares currency  price_executed      amount
date
2024-09-20  000660 KS         10   /  KRW        156400.0   1564000.0
2024-09-20  000660 KS         34   /  KRW        156500.0   5321000.0
2024-09-20  000660 KS         75   /  KRW        156600.0  11745000.0
2024-09-20  000660 KS         71   /  KRW        156700.0  11125700.0
2024-09-20  000660 KS         98   /  KRW        156800.0  15366400.0
2024-09-20  000660 KS         33   /  KRW        156900.0   5177700.0
2024-09-20  000660 KS         16   /  KRW        157000.0   2512000.0
2024-09-20  000660 KS        193   /  KRW        157100.0  30320300.0
2024-09-20  000660 KS         21   /  KRW        157200.0   3301200.0
2024-09-20  000660 KS         23   /  KRW        157300.0   3617900.0
2024-09-20  000660 KS         12   /  KRW        157400.0   1888800.0
2024-09-20  000660 KS          8   /  KRW        157500.0   1260000.0
2024-09-20  000660 KS         48   /  KRW        157600.0   7564800.0
2024-09-20  000660 KS         30   /  KRW        157700.0   4731000.0
2024-09-20  000660 KS         25   /  KRW        157800.0   3945000.0
2024-09-20  000660 KS          5   /  KRW        157900.0    789500.0
2024-09-20  000660 KS         12   /  KRW        158000.0   1896000.0
2024-09-20  000660 KS         15   /  KRW        158100.0   2371500.0
2024-09-20  000660 KS          2   /  KRW        158200.0    316400.0
2024-09-20  000660 KS         17   /  KRW        158300.0   2691100.0
2024-09-20  000660 KS         52   /  KRW        158400.0   8236800.0

# Trades

In [16]:
trades = Trades()

- set (date, index) = (2024-09-02, None)
- net_amount: 614581438.0
- set (date, index) = (2024-09-05, None)
- net_amount: 529470241.0
- set (date, index) = (2024-09-06, None)
- net_amount: 91060069.0
- set (date, index) = (2024-09-09, None)
- net_amount: 384482599.0
- set (date, index) = (2024-09-10, None)
- net_amount: 625076151.0
- set (date, index) = (2024-09-12, None)
- net_amount: 528686258.0
- set (date, index) = (2024-09-13, None)
- net_amount: 519691172.0
- set (date, index) = (2024-09-19, None)
- net_amount: 727234488.0
- set (date, index) = (2024-09-20, None)
- net_amount: 1931465216.0

In [17]:
trades.history

,date,name,ticker,type,num_shares,average_price,consideration,commission,net_amount
0,2024-09-02,SeAH Steel Holdings,003030 KS,Buy,900,177645.666667,159881100.0,159881,160040981.0
1,2024-09-02,DN AUTOMOTIVE,007340 KS,Buy,2500,88110.280000,220275700.0,220276,220495976.0
2,2024-09-02,ORION,271560 KS,Buy,2200,91495.772727,201290700.0,201291,201491991.0
3,2024-09-02,DONG AH TIRE,282690 KS,Buy,2500,13007.988000,32519970.0,32520,32552490.0
4,2024-09-05,SeAH Steel Holdings,003030 KS,Buy,800,175209.750000,140167800.0,140168,140307968.0
5,2024-09-05,DN AUTOMOTIVE,007340 KS,Buy,2500,91637.240000,229093100.0,229093,229322193.0
6,2024-09-05,ORION,271560 KS,Buy,1800,88711.333333,159680400.0,159680,159840080.0
7,2024-09-06,DN AUTOMOTIVE,007340 KS,Buy,1000,90969.100000,90969100.0,90969,91060069.0
8,2024-09-09,SeAH Steel Holdings,003030 KS,Buy,500,174271.000000,87135500.0,87136,87222636.0
9,2024-09-09,DN AUTOMOTIVE,007340 KS,Buy,2231,93556.611385,208724800.0,208725,208933525.0
10,2024-09-09,ORION,271560 KS,Buy,1000,88238.200000,88238200.0,88238,88326438.0
11,2024-09-10,SK hynix,000660 KS,Buy,1200,155763.750000,186916500.0,186916,187103416.0
12,2024-09-10,SeAH Steel Holdings,003030 KS,Buy,200,167672.000000,33534400.0,33534,33567934.0
13,2024-09-10,DN AUTOMOTIVE,007340 KS,Buy,3500,90417.457143,316461100.0,316461,316777561.0
14,2024-09-10,ORION,271560 KS,Buy,1000,87539.700000,87539700.0,87540,87627240.0
15,2024-09-12,SK hynix,000660 KS,Buy,1200,169193.000000,203031600.0,203032,203234632.0
16,2024-09-12,SeAH Steel Holdings,003030 KS,Buy,350,174357.714286,61025200.0,61025,61086225.0
17,2024-09-12,DN AUTOMOTIVE,007340 KS,Buy,1500,92685.933333,139028900.0,139029,139167929.0
18,2024-09-12,ORION,271560 KS,Buy,1400,89337.428571,125072400.0,125072,125197472.0
19,2024-09-13,SK hynix,000660 KS,Buy,1200,162684.416667,195221300.0,195221,195416521.0
20,2024-09-13,SeAH Steel Holdings,003030 KS,Buy,350,171938.857143,60178600.0,60179,60238779.0
21,2024-09-13,DN AUTOMOTIVE,007340 KS,Buy,1500,92786.400000,139179600.0,139180,139318780.0
22,2024-09-13,ORION,271560 KS,Buy,1400,88994.642857,124592500.0,124592,124717092.0
23,2024-09-19,SeAH Steel Holdings,003030 KS,Buy,699,179751.359084,125646200.0,125646,125771846.0
24,2024-09-19,DN AUTOMOTIVE,007340 KS,Buy,1500,95794.600000,143691900.0,143692,143835592.0
25,2024-09-19,TKCORP.,023160 KS,Buy,8500,14075.971765,119645760.0,119646,119765406.0
26,2024-09-19,ORION,271560 KS,Buy,2000,90117.200000,180234400.0,180234,180414634.0
27,2024-09-19,WooriFinancialGroup,316140 KS,Buy,10000,15728.972000,157289720.0,157290,157447010.0
28,2024-09-20,SK hynix,000660 KS,Buy,800,157177.625000,125742100.0,125742,125867842.0
29,2024-09-20,SeAH Steel Holdings,003030 KS,Buy,1200,185050.583333,222060700.0,222061,222282761.0
30,2024-09-20,DongwonInd,006040 KS,Buy,2500,30808.260000,77020650.0,77021,77097671.0
31,2024-09-20,DN AUTOMOTIVE,007340 KS,Buy,4500,102093.444444,459420500.0,459420,459879920.0
32,2024-09-20,TKCORP.,023160 KS,Buy,15000,14427.932667,216418990.0,216419,216635409.0
33,2024-09-20,ORION,271560 KS,Buy,6000,90870.500000,545223000.0,545223,545768223.0
34,2024-09-20,WooriFinancialGroup,316140 KS,Buy,18000,15758.318889,283649740.0,283650,283933390.0

In [18]:
trades.pl

,date,ticker,name,num_shares,price_average,price_last,net_amount,evaluation,pl,return
0,2024-09-02,003030 KS,SEAH STEEL HOLDINGS CORP,900,177645.666667,187000.0,160040981.0,168300000.0,8259019.0,5.265726
1,2024-09-02,007340 KS,DN AUTOMOTIVE CORP,2500,88110.280000,102200.0,220495976.0,255500000.0,35004024.0,15.991006
2,2024-09-02,271560 KS,ORION CORP/REPUBLIC OF KOREA,2200,91495.772727,90700.0,201491991.0,199540000.0,-1951991.0,-0.869737
3,2024-09-02,282690 KS,DONG AH TIRE & RUBBER CO LTD,2500,13007.988000,13500.0,32552490.0,33750000.0,1197510.0,3.782384
4,2024-09-05,003030 KS,SEAH STEEL HOLDINGS CORP,800,175209.750000,187000.0,140307968.0,149600000.0,9292032.0,6.729220
5,2024-09-05,007340 KS,DN AUTOMOTIVE CORP,2500,91637.240000,102200.0,229322193.0,255500000.0,26177807.0,11.526711
6,2024-09-05,271560 KS,ORION CORP/REPUBLIC OF KOREA,1800,88711.333333,90700.0,159840080.0,163260000.0,3419920.0,2.241728
7,2024-09-06,007340 KS,DN AUTOMOTIVE CORP,1000,90969.100000,102200.0,91060069.0,102200000.0,11139931.0,12.345841
8,2024-09-09,003030 KS,SEAH STEEL HOLDINGS CORP,500,174271.000000,187000.0,87222636.0,93500000.0,6277364.0,7.304141
9,2024-09-09,007340 KS,DN AUTOMOTIVE CORP,2231,93556.611385,102200.0,208933525.0,228008200.0,19074675.0,9.238672
10,2024-09-09,271560 KS,ORION CORP/REPUBLIC OF KOREA,1000,88238.200000,90700.0,88326438.0,90700000.0,2373562.0,2.789948
11,2024-09-10,000660 KS,SK HYNIX INC,1200,155763.750000,157100.0,187103416.0,188520000.0,1416584.0,0.857870
12,2024-09-10,003030 KS,SEAH STEEL HOLDINGS CORP,200,167672.000000,187000.0,33567934.0,37400000.0,3832066.0,11.527268
13,2024-09-10,007340 KS,DN AUTOMOTIVE CORP,3500,90417.457143,102200.0,316777561.0,357700000.0,40922439.0,13.031270
14,2024-09-10,271560 KS,ORION CORP/REPUBLIC OF KOREA,1000,87539.700000,90700.0,87627240.0,90700000.0,3072760.0,3.610133
15,2024-09-12,000660 KS,SK HYNIX INC,1200,169193.000000,157100.0,203234632.0,188520000.0,-14714632.0,-7.147459
16,2024-09-12,003030 KS,SEAH STEEL HOLDINGS CORP,350,174357.714286,187000.0,61086225.0,65450000.0,4363775.0,7.250775
17,2024-09-12,007340 KS,DN AUTOMOTIVE CORP,1500,92685.933333,102200.0,139167929.0,153300000.0,14132071.0,10.264844
18,2024-09-12,271560 KS,ORION CORP/REPUBLIC OF KOREA,1400,89337.428571,90700.0,125197472.0,126980000.0,1782528.0,1.525197
19,2024-09-13,000660 KS,SK HYNIX INC,1200,162684.416667,157100.0,195416521.0,188520000.0,-6896521.0,-3.432668
20,2024-09-13,003030 KS,SEAH STEEL HOLDINGS CORP,350,171938.857143,187000.0,60238779.0,65450000.0,5211221.0,8.759592
21,2024-09-13,007340 KS,DN AUTOMOTIVE CORP,1500,92786.400000,102200.0,139318780.0,153300000.0,13981220.0,10.145452
22,2024-09-13,271560 KS,ORION CORP/REPUBLIC OF KOREA,1400,88994.642857,90700.0,124717092.0,126980000.0,2262908.0,1.916247
23,2024-09-19,003030 KS,SEAH STEEL HOLDINGS CORP,699,179751.359084,187000.0,125771846.0,130713000.0,4941154.0,4.032593
24,2024-09-19,007340 KS,DN AUTOMOTIVE CORP,1500,95794.600000,102200.0,143835592.0,153300000.0,9464408.0,6.686598
25,2024-09-19,023160 KS,TK CORPORATION,8500,14075.971765,14520.0,119765406.0,123420000.0,3654594.0,3.154512
26,2024-09-19,271560 KS,ORION CORP/REPUBLIC OF KOREA,2000,90117.200000,90700.0,180414634.0,181400000.0,985366.0,0.646713
27,2024-09-19,316140 KS,WOORI FINANCIAL GROUP INC,10000,15728.972000,15650.0,157447010.0,156500000.0,-947010.0,-0.502080
28,2024-09-20,000660 KS,SK HYNIX INC,800,157177.625000,157100.0,125867842.0,125680000.0,-187842.0,-0.049387
29,2024-09-20,003030 KS,SEAH STEEL HOLDINGS CORP,1200,185050.583333,187000.0,222282761.0,224400000.0,2117239.0,1.053451
30,2024-09-20,006040 KS,DONGWON INDUSTRIES CO LTD,2500,30808.260000,30850.0,77097671.0,77125000.0,27329.0,0.135483
31,2024-09-20,007340 KS,DN AUTOMOTIVE CORP,4500,102093.444444,102200.0,459879920.0,459900000.0,20080.0,0.104371
32,2024-09-20,023160 KS,TK CORPORATION,15000,14427.932667,14520.0,216635409.0,217800000.0,1164591.0,0.638119
33,2024-09-20,271560 KS,ORION CORP/REPUBLIC OF KOREA,6000,90870.500000,90700.0,545768223.0,544200000.0,-1568223.0,-0.187630
34,2024-09-20,316140 KS,WOORI FINANCIAL GROUP INC,18000,15758.318889,15650.0,283933390.0,281700000.0,-2233390.0,-0.687376

In [19]:
trades_of_half = Trades(start_date='2024-09-15')
trades_of_half.history

- set (date, index) = (2024-09-19, None)
- net_amount: 727234488.0
- set (date, index) = (2024-09-20, None)
- net_amount: 1931465216.0

,date,name,ticker,type,num_shares,average_price,consideration,commission,net_amount
0,2024-09-19,SeAH Steel Holdings,003030 KS,Buy,699,179751.359084,125646200.0,125646,125771846.0
1,2024-09-19,DN AUTOMOTIVE,007340 KS,Buy,1500,95794.600000,143691900.0,143692,143835592.0
2,2024-09-19,TKCORP.,023160 KS,Buy,8500,14075.971765,119645760.0,119646,119765406.0
3,2024-09-19,ORION,271560 KS,Buy,2000,90117.200000,180234400.0,180234,180414634.0
4,2024-09-19,WooriFinancialGroup,316140 KS,Buy,10000,15728.972000,157289720.0,157290,157447010.0
5,2024-09-20,SK hynix,000660 KS,Buy,800,157177.625000,125742100.0,125742,125867842.0
6,2024-09-20,SeAH Steel Holdings,003030 KS,Buy,1200,185050.583333,222060700.0,222061,222282761.0
7,2024-09-20,DongwonInd,006040 KS,Buy,2500,30808.260000,77020650.0,77021,77097671.0
8,2024-09-20,DN AUTOMOTIVE,007340 KS,Buy,4500,102093.444444,459420500.0,459420,459879920.0
9,2024-09-20,TKCORP.,023160 KS,Buy,15000,14427.932667,216418990.0,216419,216635409.0
10,2024-09-20,ORION,271560 KS,Buy,6000,90870.500000,545223000.0,545223,545768223.0
11,2024-09-20,WooriFinancialGroup,316140 KS,Buy,18000,15758.318889,283649740.0,283650,283933390.0

In [20]:
trades_of_half.pl

,date,ticker,name,num_shares,price_average,price_last,net_amount,evaluation,pl,return
0,2024-09-19,003030 KS,SEAH STEEL HOLDINGS CORP,699,179751.359084,187000.0,125771846.0,130713000.0,4941154.0,4.032593
1,2024-09-19,007340 KS,DN AUTOMOTIVE CORP,1500,95794.600000,102200.0,143835592.0,153300000.0,9464408.0,6.686598
2,2024-09-19,023160 KS,TK CORPORATION,8500,14075.971765,14520.0,119765406.0,123420000.0,3654594.0,3.154512
3,2024-09-19,271560 KS,ORION CORP/REPUBLIC OF KOREA,2000,90117.200000,90700.0,180414634.0,181400000.0,985366.0,0.646713
4,2024-09-19,316140 KS,WOORI FINANCIAL GROUP INC,10000,15728.972000,15650.0,157447010.0,156500000.0,-947010.0,-0.502080
5,2024-09-20,000660 KS,SK HYNIX INC,800,157177.625000,157100.0,125867842.0,125680000.0,-187842.0,-0.049387
6,2024-09-20,003030 KS,SEAH STEEL HOLDINGS CORP,1200,185050.583333,187000.0,222282761.0,224400000.0,2117239.0,1.053451
7,2024-09-20,006040 KS,DONGWON INDUSTRIES CO LTD,2500,30808.260000,30850.0,77097671.0,77125000.0,27329.0,0.135483
8,2024-09-20,007340 KS,DN AUTOMOTIVE CORP,4500,102093.444444,102200.0,459879920.0,459900000.0,20080.0,0.104371
9,2024-09-20,023160 KS,TK CORPORATION,15000,14427.932667,14520.0,216635409.0,217800000.0,1164591.0,0.638119
10,2024-09-20,271560 KS,ORION CORP/REPUBLIC OF KOREA,6000,90870.500000,90700.0,545768223.0,544200000.0,-1568223.0,-0.187630
11,2024-09-20,316140 KS,WOORI FINANCIAL GROUP INC,18000,15758.318889,15650.0,283933390.0,281700000.0,-2233390.0,-0.687376

# Holdings

In [21]:
holdings = Holdings()

- set (date, index) = (2024-09-02, None)
- net_amount: 614581438.0
- set (date, index) = (2024-09-05, None)
- net_amount: 529470241.0
- set (date, index) = (2024-09-06, None)
- net_amount: 91060069.0
- set (date, index) = (2024-09-09, None)
- net_amount: 384482599.0
- set (date, index) = (2024-09-10, None)
- net_amount: 625076151.0
- set (date, index) = (2024-09-12, None)
- net_amount: 528686258.0
- set (date, index) = (2024-09-13, None)
- net_amount: 519691172.0
- set (date, index) = (2024-09-19, None)
- net_amount: 727234488.0
- set (date, index) = (2024-09-20, None)
- net_amount: 1931465216.0

In [22]:
holdings.list

,name,num_shares,net_amount,evaluation,pl,return
ticker,,,,,,
007340 KS,DN AUTOMOTIVE CORP,20731,1.948792e+09,2.118708e+09,169916655.0,8.719078
271560 KS,ORION CORP/REPUBLIC OF KOREA,16800,1.513383e+09,1.523760e+09,10376830.0,0.685671
003030 KS,SEAH STEEL HOLDINGS CORP,4999,8.905191e+08,9.348130e+08,44293870.0,4.973938
000660 KS,SK HYNIX INC,4400,7.116224e+08,6.912400e+08,-20382411.0,-2.864217
316140 KS,WOORI FINANCIAL GROUP INC,28000,4.413804e+08,4.382000e+08,-3180400.0,-0.720558
023160 KS,TK CORPORATION,23500,3.364008e+08,3.412200e+08,4819185.0,1.432572
006040 KS,DONGWON INDUSTRIES CO LTD,2500,7.709767e+07,7.712500e+07,27329.0,0.035447
282690 KS,DONG AH TIRE & RUBBER CO LTD,2500,3.255249e+07,3.375000e+07,1197510.0,3.678705

In [23]:
holdings.pl

,name,num_shares,net_amount,evaluation,pl,price_average,price_last,return
ticker,,,,,,,,
000660 KS,SK HYNIX INC,4400,7.116224e+08,6.912400e+08,-20382411.0,161732.366136,157100.0,-2.864217
003030 KS,SEAH STEEL HOLDINGS CORP,4999,8.905191e+08,9.348130e+08,44293870.0,178139.453891,187000.0,4.973938
006040 KS,DONGWON INDUSTRIES CO LTD,2500,7.709767e+07,7.712500e+07,27329.0,30839.068400,30850.0,0.035447
007340 KS,DN AUTOMOTIVE CORP,20731,1.948792e+09,2.118708e+09,169916655.0,94003.740534,102200.0,8.719078
023160 KS,TK CORPORATION,23500,3.364008e+08,3.412200e+08,4819185.0,14314.928298,14520.0,1.432572
271560 KS,ORION CORP/REPUBLIC OF KOREA,16800,1.513383e+09,1.523760e+09,10376830.0,90082.331548,90700.0,0.685671
282690 KS,DONG AH TIRE & RUBBER CO LTD,2500,3.255249e+07,3.375000e+07,1197510.0,13020.996000,13500.0,3.678705
316140 KS,WOORI FINANCIAL GROUP INC,28000,4.413804e+08,4.382000e+08,-3180400.0,15763.585714,15650.0,-0.720558

# Account

In [24]:
account = Account()

- set (date, index) = (2024-09-02, None)
- net_amount: 614581438.0
- set (date, index) = (2024-09-05, None)
- net_amount: 529470241.0
- set (date, index) = (2024-09-06, None)
- net_amount: 91060069.0
- set (date, index) = (2024-09-09, None)
- net_amount: 384482599.0
- set (date, index) = (2024-09-10, None)
- net_amount: 625076151.0
- set (date, index) = (2024-09-12, None)
- net_amount: 528686258.0
- set (date, index) = (2024-09-13, None)
- net_amount: 519691172.0
- set (date, index) = (2024-09-19, None)
- net_amount: 727234488.0
- set (date, index) = (2024-09-20, None)
- net_amount: 1931465216.0

In [25]:
account.cash

                cash_usd      cash_krw
date
2024-09-01  1.533081e+07  2.050955e+10
2024-09-02  1.487160e+07  1.990340e+10
2024-09-05  1.447486e+07  1.931742e+10
2024-09-06  1.440665e+07  1.923287e+10
2024-09-09  1.411865e+07  1.884839e+10
2024-09-10  1.365356e+07  1.835038e+10
2024-09-12  1.325961e+07  1.779439e+10
2024-09-13  1.286990e+07  1.716266e+10
2024-09-19  1.232272e+07  1.637751e+10
2024-09-20  1.086945e+07  1.444604e+10

In [26]:
account.stock

               stock_usd     stock_krw
date
2024-09-02  4.576830e+05  6.125400e+08
2024-09-03  4.668492e+05  6.264650e+08
2024-09-04  4.586597e+05  6.125400e+08
2024-09-05  8.602900e+05  1.148100e+09
2024-09-06  9.215730e+05  1.230300e+09
2024-09-09  1.226554e+06  1.637450e+09
2024-09-10  1.637297e+06  2.200527e+09
2024-09-11  1.659073e+06  2.223656e+09
2024-09-12  2.102452e+06  2.821491e+09
2024-09-13  2.472397e+06  3.297064e+09
2024-09-19  3.067076e+06  4.076298e+09
2024-09-20  4.633999e+06  6.158816e+09

In [27]:
account.nav

,cash_usd,cash_krw,stock_usd,stock_krw,nav_usd,nav_krw,weight_cash,weight_stock
date,,,,,,,,
2024-09-01,1.533081e+07,2.050955e+10,0.000000e+00,0.000000e+00,1.533081e+07,2.050955e+10,100.000000,0.000000
2024-09-02,1.487160e+07,1.990340e+10,4.576830e+05,6.125400e+08,1.532928e+07,2.051594e+10,97.014322,2.985678
2024-09-03,1.487160e+07,1.990340e+10,4.668492e+05,6.264650e+08,1.533845e+07,2.052987e+10,96.956346,3.043654
2024-09-04,1.487160e+07,1.990340e+10,4.586597e+05,6.125400e+08,1.533026e+07,2.051594e+10,97.008141,2.991859
2024-09-05,1.447486e+07,1.931742e+10,8.602900e+05,1.148100e+09,1.533515e+07,2.046552e+10,94.390077,5.609923
2024-09-06,1.440665e+07,1.923287e+10,9.215730e+05,1.230300e+09,1.532822e+07,2.046317e+10,93.987736,6.012264
2024-09-09,1.411865e+07,1.884839e+10,1.226554e+06,1.637450e+09,1.534520e+07,2.048584e+10,92.006918,7.993082
2024-09-10,1.365356e+07,1.835038e+10,1.637297e+06,2.200527e+09,1.529086e+07,2.055091e+10,89.292314,10.707686
2024-09-11,1.365356e+07,1.835038e+10,1.659073e+06,2.223656e+09,1.531263e+07,2.057404e+10,89.165330,10.834670
2024-09-12,1.325961e+07,1.779439e+10,2.102452e+06,2.821491e+09,1.536206e+07,2.061588e+10,86.313993,13.686007
2024-09-13,1.286990e+07,1.716266e+10,2.472397e+06,3.297064e+09,1.534230e+07,2.045972e+10,83.885095,16.114905
2024-09-19,1.232272e+07,1.637751e+10,3.067076e+06,4.076298e+09,1.538979e+07,2.045380e+10,80.070711,19.929289
2024-09-20,1.086945e+07,1.444604e+10,4.633999e+06,6.158816e+09,1.550345e+07,2.060486e+10,70.109882,29.890118

In [30]:
account.get_timeseries_nav(currency='USD')

,cash_usd,stock_usd,nav_usd,weight_cash,weight_stock
date,,,,,
2024-09-01,1.533081e+07,0.000000e+00,1.533081e+07,100.000000,0.000000
2024-09-02,1.487160e+07,4.576830e+05,1.532928e+07,97.014322,2.985678
2024-09-03,1.487160e+07,4.668492e+05,1.533845e+07,96.956346,3.043654
2024-09-04,1.487160e+07,4.586597e+05,1.533026e+07,97.008141,2.991859
2024-09-05,1.447486e+07,8.602900e+05,1.533515e+07,94.390077,5.609923
2024-09-06,1.440665e+07,9.215730e+05,1.532822e+07,93.987736,6.012264
2024-09-09,1.411865e+07,1.226554e+06,1.534520e+07,92.006918,7.993082
2024-09-10,1.365356e+07,1.637297e+06,1.529086e+07,89.292314,10.707686
2024-09-11,1.365356e+07,1.659073e+06,1.531263e+07,89.165330,10.834670
2024-09-12,1.325961e+07,2.102452e+06,1.536206e+07,86.313993,13.686007
2024-09-13,1.286990e+07,2.472397e+06,1.534230e+07,83.885095,16.114905
2024-09-19,1.232272e+07,3.067076e+06,1.538979e+07,80.070711,19.929289
2024-09-20,1.086945e+07,4.633999e+06,1.550345e+07,70.109882,29.890118

In [32]:
account.nav_latest

cash_usd        1.086945e+07
cash_krw        1.444604e+10
stock_usd       4.633999e+06
stock_krw       6.158816e+09
nav_usd         1.550345e+07
nav_krw         2.060486e+10
weight_cash     7.010988e+01
weight_stock    2.989012e+01
Name: 2024-09-20, dtype: float64

In [34]:
account.weights

- set (date, index) = (2024-09-02, None)
- net_amount: 614581438.0
- set (date, index) = (2024-09-05, None)
- net_amount: 529470241.0
- set (date, index) = (2024-09-06, None)
- net_amount: 91060069.0
- set (date, index) = (2024-09-09, None)
- net_amount: 384482599.0
- set (date, index) = (2024-09-10, None)
- net_amount: 625076151.0
- set (date, index) = (2024-09-12, None)
- net_amount: 528686258.0
- set (date, index) = (2024-09-13, None)
- net_amount: 519691172.0
- set (date, index) = (2024-09-19, None)
- net_amount: 727234488.0
- set (date, index) = (2024-09-20, None)
- net_amount: 1931465216.0

,name,num_shares,net_amount,evaluation,pl,return,weight
ticker,,,,,,,
007340 KS,DN AUTOMOTIVE CORP,20731,1.948792e+09,2.118708e+09,169916655.0,8.719078,10.282567
271560 KS,ORION CORP/REPUBLIC OF KOREA,16800,1.513383e+09,1.523760e+09,10376830.0,0.685671,7.395149
003030 KS,SEAH STEEL HOLDINGS CORP,4999,8.905191e+08,9.348130e+08,44293870.0,4.973938,4.536857
000660 KS,SK HYNIX INC,4400,7.116224e+08,6.912400e+08,-20382411.0,-2.864217,3.354743
316140 KS,WOORI FINANCIAL GROUP INC,28000,4.413804e+08,4.382000e+08,-3180400.0,-0.720558,2.126683
023160 KS,TK CORPORATION,23500,3.364008e+08,3.412200e+08,4819185.0,1.432572,1.656017
006040 KS,DONGWON INDUSTRIES CO LTD,2500,7.709767e+07,7.712500e+07,27329.0,0.035447,0.374305
282690 KS,DONG AH TIRE & RUBBER CO LTD,2500,3.255249e+07,3.375000e+07,1197510.0,3.678705,0.163796

In [ ]:
acc

In [20]:
get_ks_equity_info(ord.tickers)

2024-09-23,name_kr,name,market_index,sector,cap(/1e8),price_last
ticker_bbg,,,,,,
003030 KS Equity,세아제강지주,SEAH STEEL HOLDINGS CORP,KOSPI Index,Materials,7744.0,187000.0
007340 KS Equity,DN오토모티브,DN AUTOMOTIVE CORP,KOSPI Index,Consumer Discretionary,10213.0,102200.0
271560 KS Equity,오리온,ORION CORP/REPUBLIC OF KOREA,KOSPI Index,Consumer Staples,35852.0,90700.0
282690 KS Equity,동아타이어,DONG AH TIRE & RUBBER CO LTD,KOSPI Index,Consumer Discretionary,1853.0,13500.0

In [ ]:
ks = get_ks_market_info()
ks

In [ ]:
tickers = [get_ticker_bbg_of_ticker(ticker) for ticker in ord.tickers]
tickers

In [ ]:
ks[ks.index.isin(tickers)]

In [ ]:
ord.info

In [ ]:
trd = Trade()

In [ ]:
ord.info

In [ ]:
trd = Trade()
trd

In [ ]:
trds = Trades()
trds

In [ ]:
trds.history

In [ ]:
trds.timeseries_evaluation

In [ ]:
holdings = Holdings()

In [ ]:
df = holdings.list
df

In [ ]:
df['평가액(원)'] = df['evaluation'].apply(lambda x: convert_to_unit(x, 'KR'))
df

In [ ]:
trds.trades

In [ ]:
order = Order()

In [ ]:
order.sheet

In [ ]:
order_latest = Order()
order_latest

In [ ]:
order_latest.info

In [ ]:
holdings = Holdings()
holdings

In [ ]:
holdings.history

In [ ]:
holdings.info

In [ ]:
account = Account()
account

In [ ]:
account.df

In [ ]:
account.balance

In [ ]:
get_weight_approx()